<div class="mx-auto max-w-screen-xl">
  @switch (productsState.state.status()) {
    @case ('loading') {
      <p class="text-center">Loading...</p>
    }
    @case ('error') {
      <p class="text-center text-red-500">Error</p>
    }
    @default {
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
        @for(product of productsState.state().products; track product) {
          <app-product-card class="block" [product]="product" (addToCard)="addToCart($event)" (deleteProduct)="removeProduct($event)" />
        }
      </div>
    }
  }
</div>
