<div class="p-7 w-full max-w-2x1 grid mx-auto">
  <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
    <!-- Modal header -->
    <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
      <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
        {{ isUpdate ? 'Actualizar producto' : 'Agregar nuevo producto' }}
      </h3>
    </div>
    
    <!-- Modal body -->
    <form class="p-4 md:p-5" (ngSubmit)="isUpdate ? actualizar() : onSubmit()" #productForm="ngForm">
      <div class="grid gap-4 mb-4 grid-cols-1 sm:grid-cols-2">
        
        <div class="col-span-1">
          <label for="productSelect" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Seleccione el nombre del producto a cambiar</label>
          <select id="productSelect" (change)="onProductSelect($event)" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white">
            <option selected>selecciona una opción</option>
            @for(product of products; track product) {
              <option value="{{ product.id }}">{{ product.title }}</option>
            }
          </select>
        </div>

        <div class="col-span-1">
          <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nombre del producto</label>
          <input type="text" [(ngModel)]="productName" name="name" id="name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" placeholder="" required />
        </div>

        <div class="col-span-1">
          <label for="price" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Precio</label>
          <input type="number" [(ngModel)]="productPrice" name="price" id="price" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" placeholder="$2999" />
        </div>

        <div class="col-span-1">
          <label for="category" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Categoría</label>
          <input [(ngModel)]="productCategory" name="category" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" />
        </div>

        <div class="col-span-1">
          <label
          for="price"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Imagen</label
        >
          <img  class="rounded-t-lg h-60 w-full object-contain object-center" [src]="productImage()" alt="Imagen del producto" />
          <label for="productImage" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">URL Imagen</label>
          <input type="text" [(ngModel)]="productImage" name="productImage" id="productImage" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" required />
        </div>

        <div class="col-span-1">
          <label for="description" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Descripción del producto</label>
          <textarea id="description" rows="4" name="description" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" placeholder="Escribe una descripción sobre el producto" [(ngModel)]="productDescription"></textarea>
        </div>

      </div>

      <button type="submit" class="w-full text-white inline-flex items-center justify-center bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
        {{ isUpdate ? 'Actualizar producto' : 'Agregar producto' }}
      </button>
    </form>

    <!-- Alert messages -->
    @if (showAlert) {
      <div class="bg-teal-100 border-t-4 border-teal-500 rounded-b text-teal-900 px-4 py-3 shadow-md" role="alert">
        <div class="flex">
          <div class="py-1">
            <svg class="fill-current h-6 w-6 text-teal-500 mr-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
              <path d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM9 11V9h2v6H9v-4zm0-6h2v2H9V5z" />
            </svg>
          </div>
          <div>
            <p class="font-bold">{{ isUpdate ? 'Producto Actualizado correctamente' : 'Producto agregado correctamente' }}</p>
            <p class="text-sm">{{ isUpdate ? 'El producto ha sido actualizado y está disponible en la lista.' : 'El producto ha sido agregado y está disponible en la lista.' }}</p>
          </div>
        </div>
      </div>
    }
  </div>
</div>
